langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langsmith
sentence-transformers
pinecone
pinecone-client
pinecone-datasets
pinecone-notebooks
pinecone-plugin-inference
pinecone-text==0.9.0
streamlit==1.41.1
nltk==3.9.1
numpy==1.26.4
python-dotenv
referencing
regex==2024.11.6
pandas==2.2.3
